<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<timestamp key="byDay" datePattern="yyyyMMdd'T'HHmmss"/>

    <property name="LOG__HOME" value="C://logs//esw//"/>
    <property name="MY__PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} | %-5level | %-20.20thread | %-20.20class | %-25.25method | %-4.4line | %message%n%rEx"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender" level="INFO">
        <encoder>
            <pattern>${MY__PATTERN}</pattern>
        </encoder>
    </appender>
	
<!--	<appender name="FILE" class="ch.qos.logback.core.FileAppender">-->
<!--      <file> ${LOG__HOME}log-${byDay}.log </file>-->
<!--      <append>true</append>-->
<!--      <encoder>-->
<!--          <pattern>${MY__PATTERN}</pattern>-->
<!--      </encoder>-->
<!--   </appender>-->

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
<!--		<appender-ref ref="FILE" />-->
    </root>

</configuration>